* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/resources/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    padding-left: 50px;
    padding-top: 20px;
}

.heading1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.heading2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-size: 32px;
}

.container {
    display: flex;
    background-color: white;
    margin-top: 50px;
    margin-left: 630px;
    margin-bottom: 60px;
    height: 700px;
    width: 40%;
    opacity: 30%;
    border-radius: 20px;
}

.name {
    padding-left: 20px;
    padding-top: 20px;
}

.name-label {
    color: black;
    opacity: 100%;
}